APP_NAME="Bit.ly Pet Project"
ENV=dev

DB_DRIVER=postgresql+asyncpg
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=6432
DB_NAME=postgres

RANDOM_SLUG_LENGTH=6
RANDOM_SLUG_CHARSET=abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789

CUSTOM_SLUG_MIN_LENGTH=2
CUSTOM_SLUG_MAX_LENGTH=32
CUSTOM_SLUG_PATTERN="^[a-zA-Z0-9_-]+$"

SLUG_EXPIRY_MIN_SECONDS=60
SLUG_EXPIRY_MAX_SECONDS=31536000
SLUG_EXPIRY_DEFAULT_SECONDS=

REDIRECT_SLUG_MAX_LENGTH=256
URL_MAX_LENGTH=256

SCHEDULER_DELETE_EXPIRED_LINKS_INTERVAL_MINUTES=60